.simg{
    width:550px;
    height:250px;
    margin-top:40px;

}
.single{
    background-color: white;
    border:1px solid black;
    border-radius: 5px;
}
.bookingform{
    margin:20px
}
.formb{
    border:1px solid gray;
    gap:10px;
    
}